*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Merriweather", serif;
    max-width: 1650px;
    background-color: #ffffff;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.sub_title{
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
    margin-bottom: 16px;
}
.section_title{
    font-size: 48px;
    font-weight: 700;
    color:#070211;
    margin-bottom: 48px;
}
.section_description{
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    text-align: left;
    line-height: 30px;
    margin-bottom: 32px;
}
/* ----- start banner section ------ */
.banner_section{
   background-image: url("../images/Banner\ Image.png");
   /* background-repeat: no-repeat; */
   margin-top: 50px;
   size: 1vh;
}
.banner_text{
    width: 50%;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
    padding: 177px 344px;
    
}
.banner_title{
    font-size: 32px;
    font-weight: 400;
    text-shadow: 0px 0px 3px black;
    margin-bottom: 18px;

}
.banner_heading{
    font-size: 72px;
    font-weight: 900;
    text-shadow: 0px 0px 3px black;
    

}
/* ---- start categori section ----- */
.categori_section{
    /* width: 70%; */
    margin: 0 auto;
    padding: 120px 400px;
    text-align: center;
}
.categori_opper{
    width: 70%
}
.discount{
    font-size: 88px;
    font-weight: 700;
    color: #FF0000;
    margin-bottom: 48px
}
.categore_descrip{

}
.categori_img img{
    width: 100%;
}
/* --- midnight section ----- */
.midnight_section{
    background-image: url("../images/Vectorrr.png");
    background-repeat: no-repeat;
}
.midnight_party{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding: 68px 116px 68px 126px;
    position: relative;
.midnight_text{

}
.midnight_text h2{
    font-size: 64px;
    font-weight: 700;
    line-height: 88px;
    color: #ffffff;
    margin-bottom: 24px;
}
.join{
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
}